body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #fff;
    background: #333;
}

.wrap {
    max-width: 600px;
    background: #1f2937;
    margin: auto;
}

.header {
    background: #6943ff;
    padding: 35px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

input {
    font-weight: bold;
    font-size: 58px;
    background: transparent;
    border: 2px solid #b295ff;
    border-radius: 5px;
    margin: 30px 0 25px;
    padding: 10px 15px;
    width: 120px;
    box-sizing: border-box;
    text-align: center;
}

button {
    width: 120px;
    background: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 10px 0;
    cursor: pointer;
}

.body {
    padding: 10px 0 35px;
}

.container {
    background: #273549;
    border-radius: 5px 0px 0px 0px;
    padding: 30px 10px 20px;
    text-align: center;
    margin: 25px 25px 0 ;
}

h2 {
    font-weight: 600;
    font-size: 20px;
    color: #ccc1ff;
    margin: 0 0 10px;
}


